.innerInstr{
	border:solid;
	border-color: burlywood;
	border-radius: 5px 4px;
	margin-top: 0px !important;
}
.instrHeader_ul{
	text-align: left;

}
.instrHeader{
	border-bottom: solid 1px;
	border-color: burlywood;
	border-radius: 5px 4px;
}